body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #060d1d;
  color: white;  

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: white;  
}

.playBtn {
  width: 70%;
  border-radius: 2px;
  padding: 10px
}

.hero {
  background-size: cover; 
  background-repeat: no-repeat;
  background-image:  linear-gradient(to right, rgba(3.14%, 14.51%, 40.39%, 0.5) 150px, rgba(7.06%, 20.39%, 50.59%, 0.7) 100%), url( https://i.pinimg.com/originals/9d/0f/50/9d0f5009708b1c92adb022c647b89913.jpg);
}

.searchBox {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.extra {
  text-align: center;
  justify-content: center;
}










/* genre */
.flip-card {
  background-color: transparent;
  width: 25vh;
  height: 25vh;
  padding: 10px;
  perspective: 1000px;
  cursor: pointer;
}
.flip-card:active {
  background: pink;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  padding: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  border-radius: 5px;
  background-color: white;
  color: black;
}
.flip-card-back {
  border-radius: 5px;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}