* {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    /* margin: 0; */
  }
  .hero2{
    height: 66vh;
  }
  .homeDiv{
    position: absolute;
    background-image: url('../assets/movieBackground.jpg');
    background-size: cover;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
  }
  .title{
    text-align: center;
    font-size: 6vw;
    padding-top: 20%;
  }

  .words{
    color: aliceblue;
    text-align: center;
    font-size: 2.5vw;
  }
  .btnContainer{
    text-align: center;
  }
  .searchButton{
    background-color: rgba(235,20,90);
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 80px;
  }
  .searchButton:hover{
    text-decoration: none;
    color: white
  }